<div class="main-full-div">
  <div class="app-globe">
    <i class="pi pi-globe" style="font-size: 2rem;"></i>
  </div>
  <div class="login-table">
    <div class="center-image">
      <img src="assets/images/SmartNavLogo.png" alt="SmartNav Logo" width="400" height="400"/>
    </div>
    <form [formGroup]="recoveryForm" (ngSubmit)="submit()">
      <div style="font-size: 1rem; margin: 3rem 0 0.5rem 0.3rem; font-weight: bold">ΠΛΗΚΤΡΟΛΟΓΙΣΤΕ ΔΙΕΥΘΥΝΣΗ EMAIL</div>
      <div style="margin-bottom: 1rem">
        <p-floatlabel variant="on">
          <input pInputText style="width: 100%" id="email" type="text" formControlName="email"/>
          <label for="email">Email</label>
        </p-floatlabel>
        <div *ngIf="recoveryForm.controls['email'].invalid && !recoveryForm.controls['email'].untouched">
          <small style="color: red" *ngIf="recoveryForm.controls['email'].hasError('required')">To πεδίο Email είναι
            υποχρεωτικό</small>
          <small style="color: red" *ngIf="recoveryForm.controls['email'].hasError('email')">Λανθασμένη μορφή email</small>
        </div>
      </div>

      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem">
        <a class="back-to-login" routerLink="/login"><i class="pi pi-arrow-left"></i> Επιστροφή στη "Σύνδεση"</a>
      </div>

      <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 1rem">
        <p-toast />
        <button pButton class="fb-gl-buttons" type="submit" [disabled]="recoveryForm.invalid">Αποστολή <i class="pi pi-arrow-right"></i></button>
      </div>
      <div class="legend-container">
        <p class="legend">*Για την ανάκτηση κωδικού, η διεύθυνση email θα πρέπει
          να υπάρχει αποθηκευμένη στο σύστημα. Μόλις πατήσετε το πλήκτρο "Αποστολή"
          τότε ένα μύνημα θα αποσταλεί στην αλληλογραφία σας που περιέχει το κωδικό
          πρόσβασή σας</p>
      </div>


    </form>
  </div>
</div>