<app-home #homeCmp>
  <div class="centerfy" spinner>
    <p-progress-spinner
      strokeWidth="8"
      fill="transparent"
      animationDuration=".5s"
      [style]="{ width: '70px', height: '70px', diplay: 'flex' }"
      *ngIf="loading()"
    />
  </div>
  <ng-container globe>
    <div class="header-actions">
      <div class="app-globe">
        <p-button
          icon="pi pi-globe"
          (click)="menu.toggle($event)"
          [rounded]="true"
          severity="secondary"
        >
        </p-button>
      </div>
    </div>
  </ng-container>
  <p-menu menu #menu [model]="languages" [popup]="true"></p-menu>
  <div filters-entry class="filters-entry-action">
    <button
      type="button"
      class="open-filters-button"
      (click)="openFiltersModal()"
      [disabled]="homeCmp.navigationStarted"
    >
      {{ 'HOME_FILTERS_ACTION_LABEL' | translate }}
    </button>
  </div>
</app-home>

<p-dialog
  [(visible)]="filtersModalVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="false"
  [showHeader]="false"
  [closeOnEscape]="true"
  [style]="{ width: '86vw', height: '94vh' }"
  [contentStyle]="{ padding: '0', height: '100%', overflow: 'auto' }"
  styleClass="filters-dialog"
>
  <app-filter-options
    *ngIf="filtersModalVisible"
    [inModal]="true"
    (closed)="closeFiltersModal()"
  ></app-filter-options>
</p-dialog>
