.app-color-theme {
  background: #28bcd7;
}

.app-globe {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.app-globe:hover {
  transform: scale(1.3);
}

.loader-background {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 500;
  width: 100%;
  height: 100%;
} 

.centerfy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerfy-vertically {
  display: flex;
  align-items: center;
}

.spacer-between {
  display: flex;
  justify-content: space-between;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }