.main-full-div {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-table {
  border-radius: 10px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease;
  width: 30%;
}

@media screen and (max-width: 1100px) {
  .login-table {
    width: 60%;
  }
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb-gl-buttons {
  background-color: #1f787e;
  color: white;
  border: none;
  width: 100%;
  padding: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.fb-gl-buttons:hover {
  background-color: #91d0d3 !important;
  transform: scale(1.05);
}

.back-to-login {
  text-decoration: none;
  color: #2b38cc;
}

::ng-deep p-password input {
  width: 100%;
}
